n8n/n8n_workflow.json
{
  "name": "Test-23mar26",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "2ad32886-a31e-4f3a-8c29-f6f4727680de",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        528,
        -112
      ],
      "id": "89f790f8-01b2-4e20-b1b7-a8a042998d9e",
      "name": "Complaint-Form-Trigger",
      "webhookId": "2ad32886-a31e-4f3a-8c29-f6f4727680de"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1qyfoQffyW6-6D8kUJnbE4QBM2pK9Bw4QLls-Drl-PIY",
          "mode": "list",
          "cachedResultName": "CSE499-records",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qyfoQffyW6-6D8kUJnbE4QBM2pK9Bw4QLls-Drl-PIY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1959860981,
          "mode": "list",
          "cachedResultName": "Test-HG",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qyfoQffyW6-6D8kUJnbE4QBM2pK9Bw4QLls-Drl-PIY/edit#gid=1959860981"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "caseNumber": "={{ $('Complaint-Form-Trigger').item.json.body.case_number }}",
            "fullName": "={{ $('Complaint-Form-Trigger').item.json.body.fullName }}",
            "email": "={{ $('Complaint-Form-Trigger').item.json.body.email }}",
            "phone": "={{ $('Complaint-Form-Trigger').item.json.body.phone }}",
            "incidentDate": "={{ $('Complaint-Form-Trigger').item.json.body.incidentDate }}",
            "submissionDateTime": "={{ $('Complaint-Form-Trigger').item.json.body.submissionDateTime }}",
            "anonymous": "={{ $('Complaint-Form-Trigger').item.json.body.anonymous }}",
            "personalId": "={{ $('Complaint-Form-Trigger').item.json.body.personalId }}",
            "followUp": "={{ $('Complaint-Form-Trigger').item.json.body.followUp }}",
            "incidentTime": "={{ $('Complaint-Form-Trigger').item.json.body.incidentTime }}",
            "healthFacility": "={{ $('Complaint-Form-Trigger').item.json.body.healthFacility }}",
            "department": "={{ $('Complaint-Form-Trigger').item.json.body.department }}",
            "complaintDetails": "={{ $('Complaint-Form-Trigger').item.json.body.complaintDetails }}",
            "recommended_next_action": "={{ $json.output.recommended_next_action }}",
            "investigator_observations": "={{ $json.output.investigator_observations }}",
            "reformulated_complaint": "={{ $json.output.reformulated_complaint }}",
            "priority_level": "={{ $json.output.priority_level }}",
            "missing_information": "={{ $json.output.missing_information }}",
            "investigative_summary": "={{ $json.output.investigative_summary }}",
            "key_entities_detected": "={{ $json.output.key_entities_detected }}",
            "complaint_category": "={{ $json.output.complaint_category }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "caseNumber",
              "displayName": "caseNumber",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "submissionDateTime",
              "displayName": "submissionDateTime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "anonymous",
              "displayName": "anonymous",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "fullName",
              "displayName": "fullName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "personalId",
              "displayName": "personalId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "followUp",
              "displayName": "followUp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "incidentDate",
              "displayName": "incidentDate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "incidentTime",
              "displayName": "incidentTime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "healthFacility",
              "displayName": "healthFacility",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "department",
              "displayName": "department",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "complaintDetails",
              "displayName": "complaintDetails",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "recommended_next_action",
              "displayName": "recommended_next_action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "investigator_observations",
              "displayName": "investigator_observations",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "reformulated_complaint",
              "displayName": "reformulated_complaint",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "priority_level",
              "displayName": "priority_level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "missing_information",
              "displayName": "missing_information",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "investigative_summary",
              "displayName": "investigative_summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "key_entities_detected",
              "displayName": "key_entities_detected",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "complaint_category",
              "displayName": "complaint_category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1104,
        -112
      ],
      "id": "20cdeb2d-e712-4a9c-a6c2-8f31763533a7",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Q50coi2FIbUWHZny",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"complaint_category\": \"\",\n  \"priority_level\": \"\",\n  \"reformulated_complaint\": \"\",\n  \"investigative_summary\": \"\",\n  \"missing_information\": [\n    \"\",\n    \"\"\n  ],\n  \"key_entities_detected\": {\n    \"department_or_area\": \"\",\n    \"staff_roles_mentioned\": \"\",\n    \"financial_elements\": \"\",\n    \"patient_safety_risk\": \"\"\n  },\n  \"investigator_observations\": \"\",\n  \"recommended_next_action\": \"\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        896,
        16
      ],
      "id": "8fc56b46-bd99-4962-8f46-bbb97938dafd",
      "name": "Output Parser"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        528,
        224
      ],
      "id": "19462fab-4a31-43fb-b591-814d1e754f1d",
      "name": "Schedule Trigger",
      "disabled": true
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1qyfoQffyW6-6D8kUJnbE4QBM2pK9Bw4QLls-Drl-PIY",
          "mode": "list",
          "cachedResultName": "CSE499-records",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qyfoQffyW6-6D8kUJnbE4QBM2pK9Bw4QLls-Drl-PIY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1959860981,
          "mode": "list",
          "cachedResultName": "Test-HG",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qyfoQffyW6-6D8kUJnbE4QBM2pK9Bw4QLls-Drl-PIY/edit#gid=1959860981"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "submissionDateTime",
              "lookupValue": "={{ $json.submissionDateTime.toDateTime().toFormat('yyyy-MM-dd') === $today.minus(1, 'days').toFormat('yyyy-MM-dd') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        752,
        224
      ],
      "id": "409ed9ee-039c-4e67-9ab8-caed7942c085",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Q50coi2FIbUWHZny",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "complaints",
        "include": "allFieldsExcept",
        "fieldsToExclude": "caseNumber, submissionDateTime, fullName, personalId, phone, email, complaintDetails, recommended_next_action, reformulated_complaint, missing_information, investigative_summary, key_entities_detected",
        "options": {}
      },
      "id": "9e7c5201-256d-4522-b24a-b78702cdf10b",
      "name": "Consolidate Rows",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        976,
        224
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "=Complaint Case {{ $json.caseNumber }} - {{ $json.priority_level }} Priority",
        "message": "=<h2>Complaint Investigation Update</h2><p><strong>Case Number:</strong> {{ $json.caseNumber }}</p><p><strong>Priority Level:</strong> {{ $json.priority_level }}</p><p><strong>Category:</strong> {{ $json.complaint_category }}</p><p><strong>Incident Date:</strong> {{ $json.incidentDate }}</p><p><strong>Health Facility:</strong> {{ $json.healthFacility }}</p><p><strong>Department:</strong> {{ $json.department }}</p><hr><h3>Reformulated Complaint:</h3><p>{{ $json.reformulated_complaint }}</p>",
        "options": {}
      },
      "id": "a7a0252c-fdbf-4dd8-9840-12e58b1b8f4a",
      "name": "Reply User",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1552,
        -112
      ],
      "webhookId": "b4eb2eb7-6589-4821-9552-5a91383db3b7",
      "credentials": {
        "gmailOAuth2": {
          "id": "18UP4CgL8fa4PFTG",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "health_admin@gmail.com",
        "subject": "=Daily Summary - {{ $today.minus(1, 'days').toFormat('yyyy-MM-dd') }}",
        "message": "Here the summary",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1536,
        224
      ],
      "id": "8b3e54b6-b4e7-4e52-a423-25375bd94881",
      "name": "Send Daily Summary",
      "webhookId": "2e16faf4-40df-4195-94d7-48d613ede91f",
      "credentials": {
        "gmailOAuth2": {
          "id": "18UP4CgL8fa4PFTG",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "leftValue": "={{ $json.anonymous }}",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              },
              "rightValue": "false",
              "id": "155e9371-7ff9-4b57-b6b2-0e4673858a03"
            },
            {
              "id": "755d502a-0479-444f-bf6e-ad8271edb34e",
              "leftValue": "={{ $json.followUp }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "6981f051-474b-433f-bb92-800e13fe14ad",
      "name": "Check FollowUp",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1328,
        -112
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You will receive complaint information submitted through a web form.\n\nThe complaint narrative is located in the field:\n\ncomplaintDetails\n\nYour task is to analyze ONLY the content inside this field and generate the structured investigative assessment.\n\nUsing the text contained in complaintDetails, you must:\n\nDetermine the appropriate complaint_category\nAssess the priority_level\nProduce a reformulated_complaint written in formal and neutral institutional language\nGenerate an investigative_summary\nIdentify missing_information\nDetect relevant key_entities\nProvide investigator_observations\nSuggest a recommended_next_action\n\nDo not use or infer information from other fields unless explicitly stated.\n\nIf the complaint text is unclear, incomplete, or poorly written, you must still attempt classification and indicate uncertainty in the observations.\n\nInput Complaint Text:\nExact date of initial clinic visit {{ $json.body.incidentDate }}\nExact time of initial clinic visit {{ $json.body.incidentTime }}\nName of the clinic or hospital {{ $json.body.healthFacility }}\nName of the area or department {{ $json.body.department }}\n{{ $json.body.complaintDetails }}\nOutput Requirement:\n\nReturn ONLY a valid JSON object following the predefined system schema.\n\nDo not include explanations, markdown, or additional text.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an AI Investigator Assistant working for the internal investigation unit of a healthcare institution.\nYour role is to analyze complaints submitted through a web reporting system and support human investigators in classification and preliminary assessment.\n\nYou must always act with professional neutrality, analytical reasoning, and institutional objectivity.\n\nComplaints may relate to medical care issues, administrative or billing problems, insurance disputes, staff misconduct, security incidents, infrastructure failures, or other events occurring within healthcare facilities.\n\n🎯 Your Tasks\nClassify the complaint into the most appropriate category:\nMEDICAL_CARE\nADMINISTRATIVE_BILLING_INSURANCE\nSTAFF_MISCONDUCT\nSECURITY_OR_CRIMINAL\nINFRASTRUCTURE_SERVICE_QUALITY\nOTHER\nGenerate a clear reformulated version\nRewrite the complaint in formal, neutral, and structured language while preserving original meaning.\nProduce a concise investigative summary\nHighlight:\nCore incident\nArea or department involved\nIndividuals or roles mentioned\nOperational, financial, or patient safety impact\nDetect missing critical information\n\nExamples:\n\nIncident date or timeframe\nExact location or department\nNames or roles of personnel involved\nEvidence availability\nFinancial amounts or medical consequences\nAssess preliminary investigation priority\n\nUse:\n\nHIGH → risk to patient safety, fraud suspicion, violence, legal exposure\nMEDIUM → operational disruption, financial disputes, repeated service failure\nLOW → minor dissatisfaction or non-critical administrative issues\nProvide investigator observations\nShort analytical notes that may help guide next investigative steps.\n⚠️ Strict Rules\nDo NOT assume facts not stated.\nDo NOT make legal conclusions.\nDo NOT assign blame.\nMaintain institutional investigative tone.\nAlways produce valid JSON.\nDo NOT include explanations outside the JSON.\n📦 REQUIRED OUTPUT FORMAT (Always Return This JSON Structure)\n{\n  \"complaint_category\": \"\",\n  \"priority_level\": \"\",\n  \"reformulated_complaint\": \"\",\n  \"investigative_summary\": \"\",\n  \"missing_information\": [\n    \"\",\n    \"\"\n  ],\n  \"key_entities_detected\": {\n    \"department_or_area\": \"\",\n    \"staff_roles_mentioned\": \"\",\n    \"financial_elements\": \"\",\n    \"patient_safety_risk\": \"\"\n  },\n  \"investigator_observations\": \"\",\n  \"recommended_next_action\": \"\"\n}\n🎯 Objective\n\nYour purpose is to improve clarity, enable structured classification, and accelerate institutional investigation workflows, allowing human investigators to make faster and better-informed decisions."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        752,
        -208
      ],
      "id": "1b9e23c2-f748-4803-8c4c-7427348285a4",
      "name": "AI Agent Classification",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a helpful assistant"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1184,
        224
      ],
      "id": "192a491f-bc09-4b79-be75-ccb61ad443aa",
      "name": "AI Agent Exec Summary"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1184,
        416
      ],
      "id": "c9996120-68b5-491e-942d-5c8287bde28e",
      "name": "OpenAI Daily Summary",
      "credentials": {
        "openAiApi": {
          "id": "9co9HbYR0fAeW0mS",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        752,
        16
      ],
      "id": "59db314d-881f-4e1e-bad8-dc5a4a1b9162",
      "name": "OpenAI - Classification",
      "credentials": {
        "openAiApi": {
          "id": "9co9HbYR0fAeW0mS",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Complaint-Form-Trigger": {
      "main": [
        [
          {
            "node": "AI Agent Classification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Check FollowUp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent Classification",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Consolidate Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consolidate Rows": {
      "main": [
        [
          {
            "node": "AI Agent Exec Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check FollowUp": {
      "main": [
        [
          {
            "node": "Reply User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent Classification": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent Exec Summary": {
      "main": [
        [
          {
            "node": "Send Daily Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Daily Summary": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent Exec Summary",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI - Classification": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent Classification",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "99dfaad3-8c6e-439f-ae56-4740a81b24d1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2c33feaff7701aaef5e76a3d7195562e8e7ce5f51174107466b2cf4be6d844f3"
  },
  "id": "SEX2VSBpAJpPQj9u",
  "tags": []
}